{% extends 'main.html' %}
{% load static  %}
{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/home.css">
<link rel="stylesheet" type="text/css" href="/static/css/side.css">
<body class="h">
    <h1>Welcome aboard!{{user.username }}</h1>
<div class="container">
    {% include 'base/sidebar.html' %}

    <div class="land">
        <h1>Your tasks</h1>
        <div class="box">
            {% for x in tasks %}
            <div class="task-item">
                <p><strong>Added by {{ x.user.username|default:"testuser" }}</strong></p>


                <p><b>{{x.title}}</b></p>
                <p>Description: {{x.description}}</p>
                <p>Deadline: {{x.deadline}}</p>
                <hr>
                <div class="below">
                    <a href="{% url 'change_p' x.id %}"><p><strong>Inprogress</strong></p></a>
                    <a href="{% url 'changeto_completed' x.id %}"><p><strong>Completed</strong></p></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>

{% endblock %}